body {
    font-family: 'Castoro', serif;
}

#logo {
    width: 15%;
    padding-top: 40px;
}

#pattern {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: dodgerblue;
    background-repeat: repeat-x;
    height: 100px;
}

.grigio {
    color: darkslategray;
}

#autore {
    color: dodgerblue;
}

figcaption {
    font-size: small;
}

.giallo {
    background-color: yellow;
}

th {
    text-align: left;
    width: 350px;
}

thead {
    background: dodgerblue;
    color: white;
}

.row {
    background-color: lightblue;
}

h2 {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

#monitor {
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
}

#grafico {
    background-image: url(../img/graph.jpg);
    width: 312px;
    height: 208px;
}